{% extends "global/Page.html" %}
{% load staticfiles otree_tags floppyforms %}

{% block title %}
Comprehension questions
{% endblock %}

{% block content %}

    <p align="justify"> Please answer the following comprehension questions to ensure that all participants
    have understood the instructions.
        For each correct answer, an additional 0.1$ will be added to your final earnings at the end of the experiment.

  <table class='table table-hover table-striped'>
{{form}}
</table>
    {% next_button %}
        {% include 'whisteblowing_game/slider_wrapper.html' %}

{% endblock %}
