
{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
     Round {{ round_number }} of {{ Constants.num_rounds }}: Your Decision to Sanction
{% endblock %}

{% block content %}

    {% if player.id_in_group == group.who_decides %}
    <p>
        The Taker chose Take. You have been selected as Observer. Your decision was <i>{{ group.get_decision }}</i>.
    </p>
    {% else %}
    <p>
        The Taker chose Take. You have not been selected as Observer. The Observer's decision was <i>{{ group.get_decision }}</i>.
    </p>
{% endif %}

    <p>
        Now each of the three group members individually decides whether to sanction the Taker.
    </p>

    {% formfield player.punish with label="Please indicate whether you want to <i>Sanction</i> or <i>Abstain</i>." %}

    {% next_button %}

    <p>
  {% include 'whisteblowing_game/slider_wrapper.html' with cur_section=2 %}
{% endblock %}
