{% load otree_tags staticfiles %}
  <div id="accordion">
    <h3 id='Stage1'>Stage 1: Take or Leave</h3>
    <div>
        {% include Constants.InstructionsStealing_template %}
    </div>
    <h3 id='Stage2'>Stage 2: Observer's decision</h3>
    <div>
      {% include Constants.InstructionsAction_template %}
    </div>
    <h3 id='Stage3'>Stage 3: Group Decision if Observer's Choice is <b><i>Report</i></b></h3>
    <div>
      {% include Constants.InstructionsPunish_template %}
    </div>
    {% if session.config.treatment == 'Public'%}
    <h3 id='Stage4'>Stage 4: Send Deduction or Addition Points to the Observer</h3>
    <div>
        {% include Constants.InstructionsReward_template %}
    </div>
    {% endif %}
  </div>

<script>
$( function() {
  $( "#accordion" ).accordion({
heightStyle: "content",
active:{{cur_section|default:0}},
activate: function( event, ui ) {
  var cur_stage = ui.newHeader.attr('id');
  var $btn = $('#next_instr');
  if (cur_stage == 'Stage{{max_sections}}')
  {
    $btn.text('Next page');
    $btn.addClass( "btn-success" );
  }
  else {
    $btn.text('Next');
    $btn.removeClass( "btn-success" );
  }
}
});
} );

  var max_sections = {{max_sections|default:3}};

</script>

<style>
</style>
