{% load otree_tags staticfiles %}
<div id="accordion" role="tablist" aria-multiselectable="true">
<div class="card">
<div class="card-header" role="tab" id="headingOne">
  <h5 class="mb-0">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Stage 1: Take or Leave decision
    </a>
  </h5>
</div>

<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
  <div class="card-block">

        <p align="justify">
        At the beginning of each round, one randomly chosen group member (<i><b>Taker</b></i>) decides between two actions:
        <ul align="justify">
        <li><i><b>Take</b></i>: Half of the common pool (18 points) is added to your personal income. The preliminary payoff of the Taker is 8 + 36/2 = 26 points.
        The other half of the common pool is destroyed. The payoff of the other players is 8 points.</li>
        <li><i><b>Leave</b></i>: The common pool is divided equally between the four players. Each player's payoff from this round is 8 + 36/4 = 17 points.</li>
    
  </div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingTwo">
  <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Stage 2: Observer decision
    </a>
  </h5>
</div>
<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-block">
    {% include Constants.InstructionsAction_template %}
  </div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingThree">
  <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Stage 3: Decision if <b>Report</b> decision is made
    </a>
  </h5>
</div>
<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="card-block">
    {% include Constants.InstructionsPunish_template %}
  </div>
</div>
</div>
<div class="card">
<div class="card-header" role="tab" id="headingFour">
  <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    Stage 4: Sending tokens to Observer
    </a>
  </h5>
</div>
<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
  <div class="card-block">
    {% include Constants.InstructionsReward_template %}
  </div>
</div>
</div>
</div>
