{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h4> Instructions </h4>
<p>
    The Taker's payoff is reduced by 24 MUs if at least one of the three players selects <i>Sanction</i>.
    However, the Taker can only be sanctioned at a maximum of 24 MUs. If more than one player sanction, the Taker's payoff is still reduced only by 24 MUs.
    Each player has to pay a cost of 6 MU for selecting <i>Sanction</i>, irrespective of how many other players sanction.
    If none of the three players selects <i>Sanction</i>, the payoff of the Taker remains unaffected.
</p>
</div>