{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h4> Instructions </h4>
<p>
    <i> Take </i>: Half of the common pool is added to your personal payoff. Your preliminary payoff from this round is 8 + 36/2 = 26 MUs.
    The payoff of the other group members is 8 MUs. <br>
    <i> Leave </i>: The common pool is divided equally between the four group members. Your definite payoff from this round is 8 + 36/4 = 17 MUs.
    The payoff of the other group members is also 17 MUs.
</p>
</div>