{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h4> Instructions </h4>
<p>
    Each of the three group members, which were not selected as Taker, makes this decision. If the Taker chose <i> Take </i>,
    one of the three players is randomly selected as Observer and his/ her decision is executed. The decisions of the other players are inconsequential.
    If the Taker chose <i> Leave </i>, the decisions of all three group members are inconsequential.
</p>
<p>
    <i> Abstain</i>: The payoffs remain unchanged. The Taker receives 26 MUs. The Observer and the rest of the group gain 8 MUs. <br>
    <i> Report</i>: You reveal the identity of the Taker to the rest of the group. Thereafter, each of the three players can individually decide to
    <i>Sanction</i> the Taker. <br>
    <i> Sanction</i>: You reduce the payoff of the Taker by 24 MUs (from 26 MUs to 2 MUs). You pay a cost of 6 MUs such that your final payoff is 2 MUs.
    The payoff of the other two group members are unaffected.

</p>
</div>