{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
  Instructions

{% endblock %}

{% block content %}
    <p align="justify">
    In this study, you play in a group of {{ Constants.players_per_group }} players for {{ Constants.num_rounds }} rounds.
    The groups remain constant throughout the study.
    Each group consists of 1 Taker, 1 Observer and 2 Bystanders.
    These roles are randomly distributed among the {{ Constants.players_per_group }} group members in each round.
    At the beginning of a round, each player receives an initial endowment of {{ Constants.personal_endowment }} points.
    In addition, there is a common pool of {{ Constants.common_pool }} points. </p>
    <p align="justify">
    Your earnings from each round depend on the decisions of you and your group members. At the end of the study, you receive your aggregated points from {{ Constants.num_rounds }} rounds.
    Points are converted into real money at a rate of 40 points = 1$.
    In addition you receive a participation fee of {{session.config.participation_fee}} (if you finish the experiment?).
    On average participants earn 5$ (including the participation fee).<br>

    {% include 'whisteblowing_game/full_instructions.html'%}

    <p align="justify">
    In the next period, the roles of the Taker, the Observer and the Bystanders are newly distributed among the same four group members.</p>
    <button class="btn btn-primary btn-lg" type='button' id='next_instr'>Next</button>
{% endblock %}

{% block scripts %}
      <script>
      $('#next_instr').click(function(){
        var active = $( "#accordion" ).accordion( "option", "active" );
        if (active == max_sections - 1) {
          $(this).text('Next page');
          $(this).addClass( "btn-success" );
      };
        if (active + 1 >= max_sections) {$('form#form').submit();};
      // Setter
      $( "#accordion" ).accordion( "option", "active", active + 1 );
      });

      </script>


{% endblock %}
{% block styles %}


{% endblock %}
