{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Decision as Taker!
{% endblock %}

{% block content %}

    You have been randomly selected as the Taker in this Period. Please indicate whether you want to <i> Take </i> or <i> Leave</i>.
    <p>
    <div align="center">
        <button name="stealing" value="True" class="btn btn-primary btn-large" style="height:3em; width:8em">Take</button>
        <button name="stealing" value="False" class="btn btn-primary btn-large" style="height:3em; width:8em">Leave</button>
    </div>

    <p>
    {% include Constants.InstructionsStealing_template %}
{% endblock %}
